<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>
        <ul>
            <li v-for="item in todoItems">
                <span v-if="!item.done">{{ item.title }}</span>
                <span v-else style="text-decoration: line-through;">{{item.title}}</span>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                todoItems: [
                    {
                        "title": "学习 vue",
                        "done": true //是否已经完成
                    },
                    {
                        "title": "学习 webpack",
                        "done": false //是否已经完成
                    },
                    {
                        "title": "做个小项目",
                        "done": false //是否已经完成
                    }
                ]
            }
        })
    </script>
</body>

</html>