<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>
        <todo-list></todo-list>
        <todo-list></todo-list>
        <todo-list></todo-list>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('todo-list', {
            data: function () {
                return {
                    todo_input: "",
                    todoItems: [
                        {
                            "title": "学习 vue",
                            "done": true //是否已经完成
                        },
                        {
                            "title": "学习 webpack",
                            "done": false //是否已经完成
                        },
                        {
                            "title": "做个小项目",
                            "done": false //是否已经完成
                        }
                    ]
                }

            },
            methods: {
                submit(event) {
                    this.todoItems.push({ "title": this.todo_input, "done": false });
                }
            },
            template: `
            <span>
                <input type="text" placeholder="请输入待办事项" v-model="todo_input" v-on:keyup.enter="submit" />
                <button type="button" v-on:click="submit">保存</button>
                <ul>
                    <li v-for="item in todoItems">
                    <input type="checkbox" v-model="item.done" />
                    <span v-if="!item.done">{{ item.title }}</span>
                    <span v-else style="text-decoration: line-through;">{{item.title}}</span>
                </li>
                </ul>
            </span>
                `
        });
        var app = new Vue({
            el: '#app',
            data: {
                message: "Hello Vue!"
            }
        })
    </script>
</body>

</html>